<section>

	<div id="table_react">{{.Inner}}</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.24.0/babel.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.js"></script>
	<script src="https://unpkg.com/react-router@3.0.0/umd/ReactRouter.js"></script>
<!-- 	<script src="{{"js/drag-and-drop.js" | relURL}}"></script>
	<script src="{{"js/fetch.js" | relURL}}"></script> -->

	<!--DEPENDENCIAS PARA CORRER PROJECTS-INFO CON GRAPHQL-->
	<!-- <script type="text/babel" src="/src/index.js"></script> -->
	<script src="{{"js/projects.js" | relURL}}"></script>
	<!-- <script type="text/babel" src="{{"js/react-table.jsx" | relURL}}"></script> -->

</section>
