<link rel="stylesheet" type="text/css" href="/css/google_form.css">

<section>
  <div class="wrapper">
    <!-- START CODING YOUR FORM -->
    <form action="https://docs.google.com/forms/d/1TdJuxpEI229E9y1i5Yx2TkTYrXhgnaVw30HTQaRLrxM/formResponse">

      <label>Datos</label>

      <label>Nombre:</label>
      <input type="text" class="quantumWizTextinputSimpleinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Texto de respuesta corta" dir="auto" data-initial-dir="auto" data-initial-value="">

      <label>RUT:</label>
      <input type="text" class="quantumWizTextinputSimpleinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Texto de respuesta corta" dir="auto" data-initial-dir="auto" data-initial-value="">

      <!-- SUBMIT BUTTON -->
      <input class="button" type="submit" value="Submit">
    </form>
  </div>
  {{ .Inner }}
</section>
